<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Excel APP</title>
</head>
<body>
    <div>
        <h1>Welcome to My Excel App</h1>
    </div>
    <form action="/details" method='POST'>
        <div class="box">
            Enter Name: <input type="text" name="name" placeholder="Enter your name..">
        </div>
        <div class="box">
            Mail ID: <input type="text" name="email" placeholder="Enter your email id ...."> 
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>